@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="h4">Integration of <a href="https://datatables.net/">Jquery DataTable </a> on ASP.NET Core Razor pages with server side data manipulation using Web API.</p>
    <p>Detail documents can be found <a href="https://datatables.net/examples/index">here</a></></p>
</div>

